
.column{

  width:100%;

  @include small-view(){
    float:left;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    width:auto;
  }
}

/**
 * Default width of columns is full width on xs screens
 * unless explicitly set to a column size. Only the
 * auto '.column' is left to default behaviour
 */
[class*="column-"], [class*="-column"]{
  width: 100%;

  @include small-view(){
    float:left; /* non-flexbox support for basic columns */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto; // Honour the width for fixed sizes
  }
}