.row{
  display:flex;
  flex-flow: row wrap; /* Allow overflow to wrap to following line */

  @include small-view(){

    justify-content: flex-start; float:none;

    &.top{ align-items: flex-start; }
    &.middle{ align-items: center; }
    &.bottom{ align-items: flex-end; }

    &.left{ justify-content: flex-start; float:none; }
    &.center{ justify-content: center; }
    &.edge{ justify-content: space-between; }
    &.right{ justify-content: flex-end; float:none; }
  }
}

@include small-view(){

  @for $i from 1 through $grid-columns {
    .column-#{$i} {
      width: 100% / $grid-columns  * $i;
    }
  }

}