.row{
  @extend .clearfix;

  &.equalheight{

    @include small-view(){
      overflow:hidden;

      [class*="column-"]{
        padding-bottom:9999em;
        margin-bottom:-9998em; // we have a 1em padding in place
      }
    }
  }
}

[class*="column-"]{
  width:100%;
  padding:1em;
  min-height:1px; // Displays columns properly, even without content

  background-color:deepskyblue;

  @include small-view(){
    float:left;
  }
}

@for $i from 1 through $grid-columns {

  .column-#{$i} {
      width: 100% / $grid-columns  * $i;
  }

}

// .gutter (row)
// .spacy .spacy-small, spacy-medium, spacy-large spacy-xlarge spacy-xxlarge
// Rowception
// .column-5 .large-5 .xlarge-7 // UP