/**
 * ------------------------------------
 * Smallest view (xs)
 * ------------------------------------
 */
@for $i from 1 through $grid-columns {
  .xs-column-#{$i}  {
    width: 100% / $grid-columns  * $i;
  }

  .gutter .xs-column-#{$i}  {
    width: (100% / $grid-columns  * $i) - ($space-m / 1rem);
  }
}

@each $size,$space in $sizes
{
  @for $i from 1 through $grid-columns {
    .gutter-#{$size} .xs-column-#{$i}  {
      width: (100% / $grid-columns  * $i) - ($space / 1rem);
    }
  }
}

/**
 * ------------------------------------
 * Small view (s)
 * ------------------------------------
 */
@include small-view(){
  
  @for $i from 1 through $grid-columns {
    .s-column-#{$i}{
      width: 100% / $grid-columns  * $i;
    }

    .gutter .s-column-#{$i}  {
      width: (100% / $grid-columns  * $i) - ($space-m / 1rem);
    }
  }

  @each $size,$space in $sizes
  {
    @for $i from 1 through $grid-columns {
      .gutter-#{$size} .s-column-#{$i}  {
        width: (100% / $grid-columns  * $i) - ($space / 1rem);
      }
    }
  }

}

/**
 * ------------------------------------
 * Medium view (m)
 * ------------------------------------
 */
@include medium-view(){
  
  @for $i from 1 through $grid-columns {
    .m-column-#{$i} {
      width: 100% / $grid-columns  * $i;
    }

    .gutter .m-column-#{$i}  {
      width: (100% / $grid-columns  * $i) - ($space-m / 1rem);
    }
  }

  @each $size,$space in $sizes
  {
    @for $i from 1 through $grid-columns {
      .gutter-#{$size} .m-column-#{$i}  {
        width: (100% / $grid-columns  * $i) - ($space / 1rem);
      }
    }
  }

}

/**
 * ------------------------------------
 * Smallest view (l)
 * ------------------------------------
 */
@include large-view(){
  
  @for $i from 1 through $grid-columns {
    .l-column-#{$i} {
      width: 100% / $grid-columns  * $i;
    }

    .gutter .l-column-#{$i}  {
      width: (100% / $grid-columns  * $i) - ($space-m / 1rem);
    }
  }

  @each $size,$space in $sizes
  {
    @for $i from 1 through $grid-columns {
      .gutter-#{$size} .l-column-#{$i}  {
        width: (100% / $grid-columns  * $i) - ($space / 1rem);
      }
    }
  }

}

/**
 * ------------------------------------
 * Smallest view (xl)
 * ------------------------------------
 */
@include xlarge-view(){
  
  @for $i from 1 through $grid-columns {
    .xl-column-#{$i}{
      width: 100% / $grid-columns  * $i;
    }

    .gutter .xl-column-#{$i}  {
      width: (100% / $grid-columns  * $i) - ($space-m / 1rem);
    }

  }

  @each $size,$space in $sizes
  {
    @for $i from 1 through $grid-columns {
      .gutter-#{$size} .xl-column-#{$i}  {
        width: (100% / $grid-columns  * $i) - ($space / 1rem);
      }
    }
  }

}
