/*
 | ----------------------------------------------------------------
 | Style settings
 | ----------------------------------------------------------------
 |
 | Here you should configure your projectspecific settings
 |
 */

// Brand colors - used by the entire stylesheet
$color-first: #333333;
$color-second: #222222;
$color-third: #444444;

$color-black: #222222;
$color-white: #ffffff;

// Background color - handy for setting here
$base-background-color: $color-white;

// Font size ratios
$ratio-xs: 0.9;
$ratio-s: 1.0;
$ratio-m: 1.1;
$ratio-l: 1.2;
$ratio-xl: 1.4;

// Font
$base-font-size: 0.75rem;
$base-line-height: 1.5;
$header-line-height: 1.25;
$base-spacing: $base-font-size;
$base-font-color: #222222;
$base-accent-color: $color-first; // used by e.g. links
$base-font-family: 'arial, helvetica, sans-serif';

// Font-sizes
$font-size-xs: 0.9rem;
$font-size-s: 1rem;
$font-size-m: 1.1rem;
$font-size-l: 1.2rem;
$font-size-xl: 1.4rem;

// Spaces
$space-xs: 0.375rem;
$space-s: 0.75rem;
$space-m: 1.5rem;
$space-l: 3rem;
$space-xl: 6rem;

// Grid - breakpoints
$bp-xsmall: 20em; // 320px
$bp-small: 30em; // 480px
$bp-medium: 48em; // 768px
$bp-large: 64em; // 1024px
$bp-xlarge: 85.375em; // 1366px
$bp-xxlarge: 120em; // 1920px

// Grid columns
$grid-columns: 12 !default;

