.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.text-left{ text-align: left; }
.text-right{ text-align: right; }
.text-center{ text-align: center; }

.left{ float:left; }
.right{ float:right; }
.center{
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.medium { font-size: 130%; }
.large { font-size: 160%; }
.xlarge { font-size: 190%; }
.xxlarge { font-size: 220%; }