.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.text-left{ text-align: left; }
.text-right{ text-align: right; }
.text-center{ text-align: center; }

.left{ float:left; }
.right{ float:right; }
.center{
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* First elements like headers should be aligned with the top of their parent. */
.first{
  margin-top:0;
}


.center-center{ 
  display:flex;
  align-items: center; 
  justify-content: center;
}