/*
 | ----------------------------------------------------------------
 | Paint settings
 | ----------------------------------------------------------------
 |
 | Here you should configure your paint related settings
 |
 */
$paint-primary: #8e44ad;
$paint-truce: #FFF;


/*
 | ----------------------------------------------------------------
 | Base font size
 | ----------------------------------------------------------------
 |
 | The default font-size. This is also the value on which all font based spacings
 | and sizings are measured upon. By default this is set to 0.875em. Depending on
 | your font family of choice this should be changed to a proper default.
 */
$base-font-size:  0.76em;
