/* crazy overrides to provide a nice demo */
.dummy .column:not(.inset):not(.inset-xs):not(.inset-s):not(.inset-l):not(.inset-xl):not(.squished):not(.stretched), .dummy [class*="column-"]:not(.inset):not(.squished):not(.stretched){
    background-color:#777777;
    font-family: monospace, monospace;
    text-align: center;
    padding:1rem;
    border:2px solid #ffffff;
    color:#ffffff;
}


.inline-dummy{
    padding:0;
}

.inline-dummy li{
    list-style: none outside none;
    display:inline-block;
    text-align: center;
}

.dummy-inset .column{
    border:1px solid #cccccc;
}

.dummy-inset .inside-element{
    background-color: #cccccc;
    min-height:120px;
    height:100%;
}

.zebra{
    background: repeating-linear-gradient(
        45deg,
        #ffffff,
        #ffffff 10px,
        #f5f5f5 10px,
        #f5f5f5 20px
    );
}