/**
 * ------------------------------------
 * Smallest view (xs)
 * ------------------------------------
 */
@each $size,$space in $sizes
{
  .xs-inset-#{$size} { padding: $space !important; }
  .xs-squished-#{$size} { padding: $space / 2 $space !important; }
  .xs-stretched-#{$size}{ padding: $space $space / 2 !important; }
  .xs-stack-#{$size}{ margin-top: $space; margin-bottom:$space !important; }
  .xs-inline-#{$size}{ margin-left: $space; margin-right:$space !important; }
}

/**
 * ------------------------------------
 * Small view (s)
 * ------------------------------------
 */
@include small-view(){

  @each $size,$space in $sizes
  {
    .s-inset-#{$size}{ padding: $space !important; }
    .s-squished-#{$size} { padding: $space / 2 $space !important; }
    .s-stretched-#{$size}{ padding: $space $space / 2 !important; }
    .s-stack-#{$size}{ margin-top: $space; margin-bottom:$space !important; }
    .s-inline-#{$size}{ margin-left: $space; margin-right:$space !important; }
  }

}

/**
 * ------------------------------------
 * Medium view (m)
 * ------------------------------------
 */
@include medium-view(){

  @each $size,$space in $sizes
  {
    .m-inset-#{$size} { padding: $space !important; }
    .m-squished-#{$size} { padding: $space / 2 $space !important; }
    .m-stretched-#{$size}{ padding: $space $space / 2 !important; }
    .m-stack-#{$size}{ margin-top: $space; margin-bottom:$space !important; }
    .m-inline-#{$size}{ margin-left: $space; margin-right:$space !important; }
  }

}

/**
 * ------------------------------------
 * Smallest view (l)
 * ------------------------------------
 */
@include large-view(){

  @each $size,$space in $sizes
  {
    .l-inset-#{$size} { padding: $space !important; }
    .l-squished-#{$size} { padding: $space / 2 $space !important; }
    .l-stretched-#{$size}{ padding: $space $space / 2 !important; }
    .l-stack-#{$size}{ margin-top: $space; margin-bottom:$space !important; }
    .l-inline-#{$size}{ margin-left: $space; margin-right:$space !important; }
  }

}

/**
 * ------------------------------------
 * Smallest view (xl)
 * ------------------------------------
 */
@include xlarge-view(){

  @each $size,$space in $sizes
  {
    .xl-inset-#{$size} { padding: $space !important; }
    .xl-squished-#{$size} { padding: $space / 2 $space !important; }
    .xl-stretched-#{$size}{ padding: $space $space / 2 !important; }
    .xl-stack-#{$size}{ margin-top: $space; margin-bottom:$space !important; }
    .xl-inline-#{$size}{ margin-left: $space; margin-right:$space !important; }
  }

}
