// content will be contained in relation to the screen width.
.container {
    @extend .clearfix;
    margin-left: calc($container-margin / 4);
    margin-right: calc($container-margin / 4);

    @include medium-view {
        margin-left: calc($container-margin / 2);
        margin-right: calc($container-margin / 2);
    }

    @include large-view {
        margin-left: calc($container-margin / 1.5);
        margin-right: calc($container-margin / 1.5);
    }

    @include xlarge-view {
        margin-left: $container-margin;
        margin-right: $container-margin;
    }
}
