.row{
  @extend .clearfix;

  /**
   * Equal height css
   * By setting the parent as flexbox the direct children are set with equalheight
   * Note that this will not work on IE 11 and below http://caniuse.com/#search=flex
   */
  &.equalheight{

    @include small-view(){
      display:flex;
    }
  }
}

[class*="column-"]{
  width:100%;
  min-height:1px; // Displays columns properly, even without content

  @include medium-view(){
    float:left;
  }
}

@for $i from 1 through $grid-columns {

  @include medium-view(){
    .column-#{$i} {
      width: 100% / $grid-columns  * $i;
    }
  }

}