$sizes: (xs : $space-xs, s : $space-s, m : $space-m, l : $space-l, xl : $space-xl);

@include small-view(){

  @each $size,$space in $sizes
  {
    
    @for $i from 1 through $grid-columns {
      .gutter-#{$size}{
        .column-#{$i}{
          width: (100% / $grid-columns  * $i) - (($space / 1rem) / $grid-columns  * $i); // divide by unit to remove unit
          margin-bottom: #{($space / 1rem)+"%"};
        }
      }
    }

    .gutter-#{$size} .column {
      margin-right: $space;
      margin-bottom: #{($space / 1rem)+"%"};

      &:last-child{
        margin-right:0;
      }
    }

  }

  @for $i from 1 through $grid-columns {

    .gutter .column-#{$i} {
      width: (100% / $grid-columns  * $i) - (($space-m / 1rem) / $grid-columns  * $i); // divide by unit to remove unit
      margin-bottom: #{($space-m / 1rem)+"%"};
    }
  }
}

.gutter .column {
  margin-right: #{($space-m / 1rem)+"%"};
  margin-bottom: #{($space-m / 1rem)+"%"};

  &:last-child{
    margin-right:0;
  }
}

.gutter-around{
  justify-content:space-around;
}
