/* -------------------------------------------------------
 Button
 ------------------------------------------------------- */
.btn{
  border-radius: 3px;
  background: $warpaint-primary;
  border: 1px solid $warpaint-primary;
  color: $truce;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  &:hover{
    background: transparent;
    color: $warpaint-primary;
  }
}

.btn-o{
  background: transparent;
  color: $warpaint-primary;
  &:hover{
    background: $warpaint-primary;;
    color: $truce;
  }
}
.btn-link{
  background: none;
  border: none;
  color: $warpaint-primary;
  &:hover{
    text-decoration: underline
  }
}
